@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .glass-back {
    @apply bg-mainColor/20 backdrop-blur-md;
  }
  .card-box {
    @apply rounded-xl border border-gray-600 bg-mainstructure p-4;
  }
  .dashboard-header-item {
    @apply size-10 grid place-content-center bg-maincolor rounded-full text-xl;
  }
  .remove-btn {
    @apply absolute left-2 top-2 text-red-500 z-10 text-2xl bg-red-700/30 backdrop-blur-lg rounded-full shadow-lg;
  }
}

:root {
  /* --background: #dbe2ef; */
  /* --background: #1f383512; */
  /* --background: #f4f5f7; */
  /* --mainColor: #1f3835; */
  /* --mainColor: #3f72af; */
  --plyr-color-main: var(--mainColor);
  /* ///////////////////////////////////////////// */
  --mainbackground: #eff0f0;
  --mainforeground: #171717;
  /* ///////////////////////////////////////////// */

  --background: #ffffff;
  --foreground: #171717;
  --mainstructure: 30 41 59;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15 23 42;
    --foreground: #ededed;
    --mainstructure: 30 41 59;
    --maincolor: #1c658c;

    /* --maincolor: #03346e; */
    /* --maincolor: #406882; */
    /* --maincolor: #205375; */
  }
}
